:root {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    --background-color: #17181e;
    --block-color: #1c1d25;
    --border-block-color: #50a1a5;
    --text-primary: #ffffff;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
}

body {
    background-color: var(--background-color);
    margin: 0;
}

section {
    background-color: var(--background-color);
    color: var(--text-primary);
    background-image: radial-gradient(rgba(255, 255, 255, 0.56) 2%, transparent 1%);
    background-size: 30px 30px;
    background-position: 0 0, 5px 5px;
    background-repeat: repeat;
}

.hero {
    background-color: var(--background-color);
    height: 100vh;
    color: var(--text-primary);
    font-size: 50px;

    background-image: radial-gradient(rgba(255, 255, 255, 0.56) 2%, transparent 1%);
    background-size: 30px 30px;
    background-position: 0 0, 5px 5px;
    background-repeat: repeat;
}

.block{
    background-color: var(--block-color);
    background-image: none;
    padding: 40px;
    border: 1px #00000000 solid;
    border-radius: 50px;
    transition: var(--transition-speed);
    box-shadow: 3px 3px 5px rgb(0, 0, 0);
}

.block:hover{
    border: 1px var(--border-block-color) solid;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
}

footer {
    background-color: var(--block-color);
    color: var(--text-primary);
    text-align: center;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: center;
}

.nav-item {
    color: var(--text-primary);
    filter: grayscale(100%) opacity(0.7);
    text-decoration: underline 0.15em rgba(255, 255, 255, 0);
    transition: var(--transition-speed) ;
    text-underline-offset: 0.3em;
}

.nav-item:hover {
    filter: grayscale(0%) opacity(1);
    color: var(--text-secondary);
    text-decoration: underline 0.20em rgba(255, 255, 255, 1);
}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    font-size: 20px;
}

.footer-area ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 20px;
    text-decoration: none;
}

nav li {
    text-decoration: none;
    padding: 30px;
}

h1 {
    font-size: 50px;
    margin: 0;
}

h2 {
    font-size: 30px;
}

h3 {
    margin: 0px;
}

p {
    margin: 0;
    font-size: 20px;
    font-weight: 300;
}

.subtext {
    font-size: 15px;
    font-weight: 300;
    text-align: left;
    padding: 0px 25px 0px 25px;
}

.hero-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    margin-left: 80px;
    margin-bottom: 200px;
}

.face {
    height: 200px;
    border-radius: 100px;
    margin: 30px;
}
.social {
    margin-right: 20px;
}

.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

.sub-section-alternative {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}

.socials-footer{
    padding-top: 10px;
}

.headshot {
    width: 300px;
    border-radius: 50px;
    margin-right: 80px;
}

.headshot-container {
    display: flex;
    align-items: center;
}

.project-card {
    background-color: #1c1d25;
    background-image: none;
    width: 400px;
    height: 320px;
    box-shadow: 3px 3px 5px rgb(0, 0, 0);
    margin: 10px;
    border-radius: 10px;
    padding: .75rem;
    margin-bottom: 2rem;
    flex-grow: 0;
    flex-shrink: 0;
    border: 1px #50a1a500 solid;
    transition: var(--transition-speed);
}

.project-card:hover{
    border: 1px #50a1a5 solid;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
}

.project-container {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: hidden;
}

.project-container::-webkit-scrollbar{
    background-color: #00000000;
}

.project-image {
    margin-top: 25px;
    width: 220px;
    border-radius: 20px;
}

.project-links{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-around;
    text-decoration: none;
    justify-content: left;
    margin: 15px 20px;
    padding: 0;

}

.project-links li {
    background-color: #cadfe0;
    color: #000;
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
    margin-left: 10px;
}

.project-link {
    text-decoration: none;

}

a {
    text-decoration: none;
    color: inherit;
}

.stock-img{
    height: 500px;
    margin: 30px;
    padding-bottom: 200px;
}

.footer-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.footer-area p {
    font-size: 10px;
}

.footer-link{
    color: #52d0d6;
    filter: opacity(0.7);
    font-size: 15px;
    transition: var(--transition-speed) ;
}

.footer-link:hover {
    filter: opacity(1);
    color: var(--text-secondary);
    text-underline-offset: 0.4em;
}

#footer-list {
    justify-content: space-evenly;
    margin: 0px;
}

.resume-container {
    display: flex;
    align-items: center;
    justify-content: stretch;
}

.fecha{
    font-size: 12px;
    margin-left: 10px;
    text-align: right;
}

.puesto{
    font-size: 16px;
    text-decoration: underline 00.10em #52d0d6 ;
    font-weight: 600;
}

.sitioTrabajo{
    font-size: 14px;
}

.descripcion{
    font-size: 14px;
}

.skills {
    width: 400px;
    margin-left: 20px;
}

.skill {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-around;
    text-decoration: none;
    padding: 5px;
    justify-content: left;
}

.skill li {
    background-color: #50a1a5;
    color: #000;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    margin: 5px;
}

.work-history {
    text-align: left;
    padding: 30px;
    margin-bottom: 20px;
}

.work-history h2 {
    font-size: 20px;
}

.work-history li{
    padding: 10px;
}

ul {
    padding: 15px;
}

.social-phone {
    display: none;
}

@media only screen and (max-width: 1000px) {
    .hero-area {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hero-text {
        margin: 40px;
    }
    .stock-img {
        margin: 30px;
        padding: 0;
    }

    nav ul {
        font-size: 20px;
    }

    .content {
        height: 250px;
    }

    section {
        background-image: radial-gradient(rgba(255, 255, 255, 0.56) 5%, transparent 1%);
    }
    
    .hero {
        background-image: radial-gradient(rgba(255, 255, 255, 0.56) 5%, transparent 1%);
    }

    h1 {
        font-size: 80px;
    }
    
    h2 {
        font-size: 60px;
    }

    h3 {
        font-size: 40px;
    }
    
    p {
        font-size: 40px;
    }

    .stock-img{
        height: 800px;
        margin: 30px;
        padding-bottom: 0px;
    }

    .headshot{
        margin-top: 40px;
    }
    .sub-section {
        flex-direction: column-reverse;
        align-items: center;
    }

    .project-card {
        width: 700px;
        height: 650px;
    }

    .project-image {
        width: 500px;
    }

    .subtext {
        font-size: 30px;
    }

    a {
        font-size: 30px;
    }

    .fecha{
        font-size: 24px;
    }
    
    .puesto{
        font-size: 32px;
        text-decoration: underline 00.20em #52d0d6 ;
    }
    
    .sitioTrabajo{
        font-size: 30px;
    }
    
    .descripcion{
        font-size: 25px;
    }

    .resume-container {
        flex-direction: column;
    }

    .skills {
        width: fit-content;
        margin-left: 0px;
        margin-top: 20px;
    }

    .skills li {
        font-size: 30px;
    }

    .work-history h2 {
        font-size: 40px;
    }

    .footer-area {
        flex-direction: column;
        justify-content: space-between;

    }
    
    .footer-area p {
        font-size: 30px;
    }
    
    .footer-link{
        font-size: 40px;
    }

    .social {
        display: none;
    }

    .social-phone {
        display: contents;
    }

    .footer-block {
        margin: 20px;
        justify-content: left;
    }

    #footer-list {
        flex-direction: column;
    }

    svg {
        margin-right: 20px;
        margin-left: 20px;
    }
}